/*Agregar colores y estilos*/

.contenedor-header {
  display: flex;
  align-items: center;
  height: 110px;
  width: 100%;
  padding: 0px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.829);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contenedor-header button {
  left: 120px;
}

@media screen and (max-width: 768px) {
  .contenedor-header {
    width: 100%;
  }
}
