.contenedor-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
  margin: 180px 22px 0px 22px;

  margin: 180px 22px 0px 22px;

  margin-top: 180px;
}

.producto-imagen {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-wrap: wrap;
}

.producto-nombre {
  font-size: 14px;
  text-align: left;
}
